<%- include('includes/head')%>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" 
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
            crossorigin="anonymous">  
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
   <link
   rel="stylesheet"
   href="/auth/assets/css/OcOrato---Login-form.css"
 />
  </head>
  <%- include('includes/navbar') %>
  <body
  >
  <div style="margin-bottom: 10rem;">
  
  <div id="registerDiv">
    <form
      id="form"   
      method="POST"
      action="/register"
    >
    
      <h1 id="head" style="color:  #529c9cc5" >Sign Up</h1>
      <div class="text-center">
          <i class="fas fa-user fa-6x" style="margin-top:3px ;margin-bottom:10px;color:  #529c9cc5"></i>
      </div>
      <div class="form-group">
        <input
        style="padding-top:2px ; border:0px solid rgb(240, 233, 233);box-shadow: 1px 1px 1px ;"
          class="form-control"
          name="username"
          type="text"
          id="formum"
          placeholder="Username"
          required
        /><br/>
        <input
        style="padding-top:2px ; border:0px solid rgb(240, 233, 233);box-shadow: 1px 1px 1px ;"
          class="form-control"
          name="email"
          type="email"
          id="formum"
          placeholder="Email"
          required
        />
      </div>
      <div class="form-group">
        <input
        style="padding-top:2px ; border:0px solid rgb(240, 233, 233);box-shadow: 1px 1px 1px ;"
          class="form-control"
          name="password"
          type="password"
          id="formum2"
          placeholder="Password"
          required
        />
        <br/>
        <input
        style="padding-top:2px ; border:0px solid rgb(240, 233, 233);box-shadow: 1px 1px 1px ;"
        class="form-control"
        name="confirmpassword"
        type="password"
        id="formum2"
        placeholder="Confirm Password"
        required
      />
      </div>
      <button
        class="btn btn-light"
        id="butonas"
        style="
          width: 100%;
          height: 100%;
          margin-bottom: 10px;
          background-color: #529c9cc5;
          color: rgb(255, 255, 255);
        "
        type="submit"
      >
         SIGN UP
      </button>
    </form>
    </div>
    </div>

    <%- include("includes/footer") %>

    <%- include("includes/end") %>

    <script>
      $( document ).ready(function() {
        console.log("<%= errorMessage %>")
         if ("<%= errorMessage %>"){
          toastr["error"]("<%= errorMessage %>")}
          toastr.options = {
          "closeButton": false,
          "debug": false,
          "newestOnTop": false,
          "progressBar": false,
          "onclick": null,
          "showDuration": "300",
          "hideDuration": "1000",
          "timeOut": "3000",
          "extendedTimeOut": "1000",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
          "hideMethod": "fadeOut"
      }
      });
      </script>